#header{
  width: 100%;
  height: 45px;
  background-color:rgb(51,51,51);
  float: right;

}
.head1{
  float: left;
  width: 159px;
  height: 50px;
  background: url(http://cdn.jirengu.com/public/logo-tiny.png) no-repeat;
  background-size:contain;
  margin-left:15%;
}
.head2 li{
  list-style: none;
  display: inline-block;
  font-family: 微软雅黑;
  color: white;
  float: right;
}
#footer{
  width:100%;
  height: 43px;
  background-color:rgb(51,51,51);
position: absolute;
bottom: 20px;
left: 0px;
}
.foot1 li{
  display: inline-block;
  float: left;
  color: white;
  font-family: 微软雅黑；
}
#content{
  border: 1px solid;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
